@tailwind base;
@tailwind components;
@tailwind utilities;

.menu a{
 font-size:larger
}

.my-container{
  @apply md:w-[90%] lg:w-[85%] w-[95%] mx-auto
}

.active{
 @apply bg-slate-800 text-white font-semibold 
}



/* @media screen and (max-width: 640px) {
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  .table thead {
    display: none;
  }
  .table tbody {
    display: block;
  }
  .table tr {
    margin-bottom: 1rem;
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  .table td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
  }
  .table td:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .table td:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .table th,
  .table td {
    display: block;
    text-align: center;
  }
  .table td:before {
    content: attr(data-label);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
}

/* Desktop/Tablet Styles */
/* @media screen and (min-width: 641px) {
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  .table thead {
    background-color: #f3f4f6;
  }
  .table th,
  .table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #d1d5db;
  }
  .table th {
    font-weight: bold;
  }
} */ 